page-tabs {

}
.img, .description, .title, .submit{
  text-align: center;
}


.tab-button-text{
  text-align: center;
}

.tab-button-icon{
  margin-left: 13%;
}

tabbar{
  background-color: #488aff;
  color: white;
}
