
.circleProcess{
  font-family: 'FontAwesome';
  height: 40%;
}

#textconsumationFR{
  text-align: center;
  font-family: GeosansLight;
  margin-top: 10%;
  font-size: 25px;
}

div.controlVal{
  width: 50%;
  margin-top: 5%;
}

.gridData{
  margin-top: 5%;
}

.slide{
  height: 60%;
}

.selectTime{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5%;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
