
<ion-header>

  <ion-navbar>
    <ion-title>singlemachine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh()">
    <ion-refresher-content
      pullingText="Pull to refresh"
      pullingIcoin="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="..fetching">

    </ion-refresher-content>
  </ion-refresher>


<div *ngIf="temperature">
  <div *ngIf="lineChartLabels">
  <canvas baseChart width="300" height="400"
          [datasets]="lineChartDatas"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>

  </div>
</div>
<div *ngIf="value">
  <justgage [options]="options" [max]="max" [value]="value"></justgage>
</div>
</ion-content>
