page-singlemachine {

}

.circleProcess{
  font-family: 'FontAwesome';
  height: 40%;
}

#textconsumationFR{
  text-align: center;
  font-family: GeosansLight;
  font-size: 25px;
}

div.controlVal{
  width: 50%;
  margin-top: 1%;
}

.gridData{
  margin-top: 5%;
}

.slide{
  height: 60%;
}
