page-settings {

}
.photo{
  margin-top: 20%;
}
.details{
  margin-top: 8%;
}

.col img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
