page-settings {

}
.photo{
  margin-top: 20%;
}
.details{
  margin-top: 8%;
}

.circle-pic{
  width:70px;
  height:70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.card{
  margin-top:10%
}

.logout{
  margin-top: 10%;
}

.buttonLogout{
  margin-left: 10%;
}


.description{
  margin-top: 15%;
  margin-left: 10%;
  color: lightgray;
}
